#Tools
wget

# Core Python Packages
python=3.10.*
pip
setuptools==59.8.0
wheel

# Bioinformatics Libraries
biotite=0.40.*
biopython

# R Packages
r-base
r-data.table
r-tidyverse
r-readxl
r-purrr
r-readr
r-scales
r-jsonlite
r-ggplot2
r-cowplot
r-pheatmap
r-viridislite
r-ggseqlogo
r-bio3d
r-nglviewer
r-htmlwidgets
r-htmltools
r-biocmanager

# Bioconductor Packages
bioconductor-msa
bioconductor-biostrings
bioconductor-pwalign
bioconductor-genomeinfodbdata

# Machine Learning & Graph Processing (Discotope3)
pyg  # From pyg channel
#pytorch=1.11
#cudatoolkit=11.3
scikit-learn
#torch-scatter
xgboost

# Epigraph Dependencies
libboost>=1.73
conda-forge::dssp<=4.5.3