# Shared Python Libraries
biopython>=1.80,<1.84
fair-esm>=1.0.3
numpy==1.24.*
pandas==1.4.3
#torch==1.12.0

# Bepipred-3.0
bp3==0.0.12.7
importlib-resources==5.8.0
plotly==5.8.0
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
tenacity==8.0.1

typing-extensions==4.3.0
zipp==3.8.0

# Discotope-3.0
scikit-learn
xgboost==2.*
pygam==0.9.0
joblib

--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.11.0+cu113

-f https://data.pyg.org/whl/torch-1.11.0+cu113.html
torch-scatter==2.0.9
torch-sparse==0.6.15
torch-cluster==1.6.0
torch-spline-conv==1.2.1
torch-geometric==2.1.0.post1

#setuptools<58.9
./src/discotope3_web

# EpiGraph
wget==3.2
rsa==4.8
#torch-geometric==2.0.4
#setuptools<58.9
bioservices

# Patched ESM with esmfold_structure_module_only_8M
git+https://github.com/facebookresearch/esm.git@2b369911bb5b4b0dda914521b9475cad1656b2ac



